version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_faceid
    ports:
      - "6333:6333"     # REST API
      - "6334:6334"     # gRPC (опционально)
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_data:
